" Plugins
Plug 'tpope/vim-surround'

Plug 'tpope/vim-commentary'

Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "100"

set peekaboo

" Base
let mapleader=" "

set number
set relativenumber
set confirm = true
set cursorline = false
set ignorecase = true
set smartcase = true 
set smartindent = true 
set spell = true
set splitbelow = false 
set splitright = true
" set scrolloff = 5
set tabstop = 2
set shiftwidth = 2 
set termguicolors = true 
set hlsearch = true

" Keymaps
map <leader>nl :nohl<CR>
map <leader>ln :set rnu!<CR>
nmap gI :action GotoImplementation<CR>
nmap gr :action GotoDeclaration<CR>
nmap gm :action GotoSuperMethod<cr>
nmap gs :action GotoSymbol<cr>
nmap gd :action GotoTypeDeclaration<CR>
nmap cf :action CopyAbsolutePath<CR>
nmap cr :action CopyFileName<CR>
nmap <leader>ds :action FileStructurePopup<CR>
